.jumbotron {
    background-color: white;
    background-image: url(/images/dicelogo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 450px;
    margin: 0 auto;
}
#orderform {
    width: 700px;
    margin: 0 auto;
    padding: 0 30px 20px 30px;
    background-color: lightcyan;
    border: 1px solid;
    border-color: darkcyan;
    border-radius: 10px;
}
#orderform h1 {
    padding-top: 5px;
    text-align: center;
}
.box {
    margin-top: 5px;
}
#addresstype {
    height: 28px;
    margin-top: 5px;
    clear: both;
}
#otherbox {
    visibility: hidden;
}
